.App {
    text-align: center;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.center {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 4px;
}

th {
    text-align: start;
}

td,
th {
    padding: 4px;
}

.currency-col {
    text-align: end;
}

thead tr,
tfoot tr {
    border: 0;
    background-color: #039be5;
    width: 100%;
    font-weight: bold;
    color: white;
}

nav {
    padding: 7px 0;
    border-bottom: solid thin #039be5;
    position: relative;
    margin: 8px 0;
}

nav a {
    padding: 8px 8px;
    margin: 0 4px 0 0;
    font-size: medium;
    border-radius: 4px 4px 0 0;
}

.active-link {
    background-color: #039be5;
    border-bottom: #ECEFF1;
    color: #FFF;
}

.right {
    float: right;
}